* {
    margin: 0;
}

body {
    width: 100%;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EBC7B0;
    height: 50px;
    border-bottom: 2px solid #EBABA4;
    flex-direction: row;

    overflow: hidden;
    white-space: initial;

    text-align: left;
    font-family: 'Arial', sans-serif;
}

.header a {
    font-size: 24px;

    display: inline-block;
    margin: 0 25px;

    color: #98BDEB;
    text-decoration: none;

    transition: color 150ms linear;
    position: relative;
}

.header a:hover {
    color: #C7EBD8;
}

.body-content button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex-direction: column;
    flex: 1;
}

.column a {
    padding: 10px;
}

.row button {

}

.securities-graph {
    padding: 10px;
}

.currency-graph {
    padding: 10px;
}

.securities-list {
    padding: 10px;
}

.securities-list ul {
    list-style-type: none;
}

.create-portfolio {
    padding: 10px;
    max-width: 500px;
}

.delete-portfolio {
    padding: 10px;
    max-width: 500px;
}

.create-secs {
    padding: 10px;
}

.fill-secs {
    padding: 10px;
}

.create-security {
    padding: 10px;
}

.create-security form {
    width: auto;
}

.delete-security {
    padding: 10px;
}

.delete-security form {
    width: auto;
}

.increase-security {
    padding: 10px;
}

.increase-security form {
    width: auto;
}
