* {
    margin: 0;
}

body {
    width: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #66cc99;
    height: 70px;
    border-bottom: 2px solid #669999;
    flex-direction: row;

    overflow: hidden;
    white-space: initial;

    text-align: left;
    font-family: 'Arial', sans-serif;
}

.header a {
    font-size: 28px;

    display: inline-block;
    margin: 0 25px;

    color: #0c3f66;
    text-decoration: none;

    transition: color 150ms linear;
    position: relative;
}

.header a:hover {
    color: #64150C;
}

.body-content button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex-direction: column;
    flex: 1;
}

.row button {

}

.securities-graph {
    padding: 10px;
}

.update-graph-button {
    padding: 10px;
}

.securities-list {
    padding: 10px;
}

.securities-list ul {
    list-style-type: none;
}

.create-portfolio {
    padding: 10px;
    width: 60%;
}

.create-security {
    padding: 10px;
}

.create-security form {
    width: 60%;
}

.delete-security {
    padding: 10px;
}

.delete-security form {
    width: 60%;
}

.increase-security {
    padding: 10px;
}

.increase-security form {
    width: 60%;
}
