{% extends 'investments/layout.html' %}

{% block Title %}{% endblock %}

{% block BodyContent %}
    <div class="securities-list">
        {% if securities %}
            <ul>
            {% for row in securities %}
                <li>${{ row.ticker }} - {{ row.quantity }} * {{ row.price }} {{ row.currency }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <h1>Empty portfolio</h1>
        {% endif %}
    </div>
    <div class="securities-graph">
        {% if graph %}
            <img src="{{ graph.url }}" alt="Pie graph">
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Update graph</button>
    </form>
{% endblock %}