{% extends 'investments/layout.html' %}
{% load crispy_forms_tags %}

{% block Title %}Portfolio{% endblock %}

{% block BodyContent %}
<div class="row">
    <div class="column">
        <div class="securities-graph">
            <img src="{{ graph.url }}" alt="Pie graph">
        </div>
    </div>
    <div class="column">
        <div class="securities-list">
            {% if securities %}
                <ul>
                {% for row in securities %}
                    <li>${{ row.0 }} - {{ row.1 }} {{ row.2 }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <h1>Empty portfolio</h1>
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="create-security">
            <form method="post">
                {% csrf_token %}
                {{ form_creating|crispy }}
                <button class="btn btn-success" type="submit" name="create_security">Add security</button>
            </form>
        </div>
        <div class="increase-security">
            <form method="post">
                {% csrf_token %}
                {{ form_increasing|crispy }}
                <button class="btn btn-info" type="submit" name="increase_security">Increase quantity</button>
            </form>
        </div>
        <div class="delete-security">
            <form method="post">
                {% csrf_token %}
                {{ form_deleting|crispy }}
                <button class="btn btn-danger" type="submit" name="delete_security">Delete security</button>
            </form>
        </div>
        <a href="{% url 'delete_portfolio' portfolio_pk %}" class="btn btn-danger" role="button">Delete this portfolio</a>
    </div>
</div>
{% endblock %}