{% extends 'investments/layout.html' %}
{% load crispy_forms_tags %}

{% block Title %}Portfolio{% endblock %}

{% block BodyContent %}
    <div class="row px-1">
        <div class="col">
            <div class="securities-graph">
                <img src="{{ securities_graph.url }}" alt="Pie graph">
            </div>
            <div class="sector-graph">
                <img src="{{ sector_graph.url }}" alt="Sector pie graph">
            </div>
            <div class="country-graph">
                <img src="{{ country_graph.url }}" alt="Country pie graph">
            </div>
            <div class="market-graph">
                <img src="{{ market_graph.url }}" alt="Market pie graph">
            </div>
            <div class="currency-graph">
                <img src="{{ currency_graph.url }}" alt="Currency pie graph">
            </div>
        </div>
        <div class="col">
            <div class="securities-list">
                <ul class="list-group list-group-flush">
                {% for row in securities %}
                    <li class="list-group-item">${{ row.0 }} - {{ row.1 }} {{ row.2 }}</li>
                {% empty %}
                    <li class="list-group-item">Empty portfolio</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="create-security">
                <form method="post">
                    {% csrf_token %}
                    {{ form_creating|crispy }}
                    <button class="btn btn-success my-1" type="submit" name="create_security">Add security</button>
                </form>
            </div>
            <div class="increase-security">
                <form method="post">
                    {% csrf_token %}
                    {{ form_increasing|crispy }}
                    <button class="btn btn-info my-1" type="submit" name="increase_security">Increase quantity</button>
                </form>
            </div>
            <div class="delete-security">
                <form method="post">
                    {% csrf_token %}
                    {{ form_deleting|crispy }}
                    <button class="btn btn-danger my-1" type="submit" name="delete_security">Delete security</button>
                </form>
            </div>
            <a href="{% url 'delete_portfolio' portfolio_pk %}" class="btn btn-danger mb-1" role="button">Delete this portfolio</a>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_security_select').select2();
    });
</script>
{% endblock %}